body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(231, 231, 146) 50%, #666 50%);
}

.title{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    height: 500px;
    width: 500px;
    background: #fff;
    border-radius: 5px;
}

#input {
    height: 50px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #666;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#input::placeholder {
    color: #bbb;
}

.container ul li {
    background: #eee;
    color: #333;
    height: 40px;
    min-width: 90%;
    border-radius: 5px;
    margin: 5px 40px 0 10px;
    padding-left: 10px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    text-justify: center;

}